*.pyc
nocm.zip
/noOOjythonTest
/SAI
*.ods
/classifier/out.txt
/classifier/out_one.txt
/dataprocessing/mc.out
/dataprocessing/min_max.txt
/dataprocessing/numSamplesPerGame.txt
/dataprocessing/numSamplesPerMatrix.txt
/dataprocessing/out2.txt
/dataprocessing/out.txt
/dataprocessing/times.txt
/ljd/*.o
/ljd/*.so
/ljd/source.zip
/ljd/replays
/ljd/output
/ljd/backup.sh
/ljd/experiment.out
/ljd/configVars.txt
/ljd/out.test
/ljd/python/clb.so
